In [2]:
# Import Packages 
import pandas as pd

In [3]:
# Question 1
data_2014 = pd.read_csv("data/output/data-2014.csv")
data_2015 = pd.read_csv("data/output/data-2015.csv")
data_2016 = pd.read_csv("data/output/data-2016.csv")
data_2017 = pd.read_csv("data/output/data-2017.csv")
data_2018 = pd.read_csv("data/output/data-2018.csv")
data_2019 = pd.read_csv("data/output/data-2019.csv")

# question_1_2014 = merged_1[
#     (merged_1["snp"] != "Yes") &
#     (merged_1["eghp_x"] != "Yes") &
#     ~((merged_1["planid"] >= 800) & (merged_1["planid"] < 900))
# ].copy()

In [4]:
data_2014.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0028,1.0,19103.0,2014,2,238.0,240.0,236.0,IA,Johnson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,H0028,1.0,19113.0,2014,2,1334.5,1338.0,1331.0,IA,Linn,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,H0028,2.0,19153.0,2014,2,347.0,346.0,348.0,IA,Polk,...,744.91,49.83,2014.0,105.11,41.05,26.97,37.09,0.910,0.0,806.179654
3,H0028,3.0,19155.0,2014,2,173.0,165.0,181.0,IA,Pottawattamie,...,778.05,30.69,2014.0,110.04,43.02,29.06,37.96,0.983,0.0,844.788274
4,H0028,4.0,15003.0,2014,2,1019.5,1034.0,1005.0,HI,Honolulu,...,720.07,48.97,2014.0,70.39,41.78,14.45,14.16,0.829,0.0,861.327751

In [5]:
data_2015.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1.0,39023.0,2015,2,562.0,598.0,526.0,OH,Clark,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,H0022,1.0,39035.0,2015,2,2783.5,2810.0,2757.0,OH,Cuyahoga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,H0022,1.0,39051.0,2015,2,107.5,112.0,103.0,OH,Fulton,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,H0022,1.0,39055.0,2015,2,47.0,48.0,46.0,OH,Geauga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,H0022,1.0,39057.0,2015,2,509.0,528.0,490.0,OH,Greene,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [6]:
data_2016.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1.0,39023.0,2016,2,487.0,488.0,486.0,OH,Clark,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,H0022,1.0,39035.0,2016,2,2613.5,2589.0,2638.0,OH,Cuyahoga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,H0022,1.0,39051.0,2016,2,94.0,94.0,94.0,OH,Fulton,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,H0022,1.0,39055.0,2016,2,47.5,45.0,50.0,OH,Geauga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,H0022,1.0,39057.0,2016,2,454.5,448.0,461.0,OH,Greene,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [7]:
data_2017.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1.0,39023.0,2017,2,563.0,554.0,572.0,OH,Clark,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,H0022,1.0,39035.0,2017,2,3385.0,3321.0,3449.0,OH,Cuyahoga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,H0022,1.0,39051.0,2017,2,112.0,107.0,117.0,OH,Fulton,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,H0022,1.0,39055.0,2017,2,60.0,58.0,62.0,OH,Geauga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,H0022,1.0,39057.0,2017,2,512.5,500.0,525.0,OH,Greene,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [8]:
data_2018.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1.0,39023.0,2018,2,571.0,558.0,584.0,OH,Clark,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,H0022,1.0,39035.0,2018,2,3648.5,3596.0,3701.0,OH,Cuyahoga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,H0022,1.0,39051.0,2018,2,107.0,107.0,107.0,OH,Fulton,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,H0022,1.0,39055.0,2018,2,80.0,80.0,80.0,OH,Geauga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,H0022,1.0,39057.0,2018,2,543.5,539.0,548.0,OH,Greene,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [9]:
data_2019.head()

,contractid,planid,fips,year,n_nonmiss,avg_enrollment,first_enrollment,last_enrollment,state,county,...,payment_partc,rebate_partc,year_reb,payment_partd,directsubsidy_partd,reinsurance_partd,costsharing_partd,riskscore_partd,basic_premium,bid
0,H0022,1.0,39023.0,2019,2,646.0,639.0,653.0,OH,Clark,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,H0022,1.0,39035.0,2019,2,3744.5,3743.0,3746.0,OH,Cuyahoga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,H0022,1.0,39051.0,2019,2,136.5,135.0,138.0,OH,Fulton,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,H0022,1.0,39055.0,2019,2,86.5,86.0,87.0,OH,Geauga,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,H0022,1.0,39057.0,2019,2,630.0,624.0,636.0,OH,Greene,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN